boto3==1.40.52
botocore==1.40.52
box==0.1.5
Flask==3.1.1
fastapi
huggingface-hub==0.35.3
Jinja2==3.1.6
joblib==1.5.1
mypy-boto3-s3==1.40.26
pandas==2.2.3
pydantic==2.11.7
pydantic_core==2.33.2
python-box>=7.0.0
pywin32==308
pywinpty==2.0.15
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.6.2
pdfplumber
python-docx
transformers==4.57.1
torch==2.8.0
sentencepiece==0.2.1
setuptools==80.9.0
starlette==0.47.1
streamlit==1.45.1
tokenizers==0.22.1
tqdm==4.67.1
uvicorn==0.35.0
